.page-container {
  min-width: 98vw; /* Ocupar todo el ancho disponible */
  min-height: 100vh; /* Permitir que crezca si hay más contenido */
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  padding: 20px;
}

/* Fondos personalizados */
.home{
  background-image: url("../assets/images/logo_sti.png"); /* Imagen para Home */
}